<!DOCTYPE html>
<html lang="en">
<head> 

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Exciting!</title>

	<!-- Bootstrap Core CSS -->
	<link href="http://cdn.bootcss.com/flat-ui/2.2.2/css/vendor/bootstrap.min.css" rel="stylesheet">
  <link href="http://cdn.bootcss.com/flat-ui/2.2.2/css/flat-ui.min.css" rel="stylesheet">
 	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top site-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Exciting!</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <!-- <li><a href="about">About</a></li> -->
            <!-- <li><a href="contact">Contact</a></li> -->
            <li><a href="information">Information</a></li>
            <li><a href="job">Job</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div id="content">{% block content %}{% endblock %}</div>

	<!-- footer-->
	<br/>
	<br/>
	<br/>
	<hr>
	<div class="footer">
		<p>Copyright © <a href="http://blog.delvin.xyz">Delvin Zhu</a> 2016 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Powered by <a href="http://getbootstrap.com/">Bootstrap</a></p> 
	</div>

	<!-- jQuery -->
	<script src="http://cdn.bootcss.com/flat-ui/2.2.2/js/vendor/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
  	<script src="http://cdn.bootcss.com/flat-ui/2.2.2/js/flat-ui.min.js"></script>

</body>